@model Eventify.Data.Models.Organization

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Details Organization</title>
<h2>Details</h2>


  





<div class="form-group form-md-line-input has-success" style="width:350px;float:left">
    <h4>Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="col-md-3 control-label" for="form_control_1">Creation Date :</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creationDate)
        </dd>

        <dt>
            <label class="col-md-3 control-label" for="form_control_1">Organization Name :</label> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.organizationName)
        </dd>

        <dt>
            <label class="col-md-3 control-label" for="form_control_1">Organization Type :</label> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.organizationType)
        </dd>

        <dt>
            <label class="col-md-3 control-label" for="form_control_1">Creator Name :</label>
        </dt>

        <dd>
           
               @Html.ViewBag.User.firstName @Html.ViewBag.User.lastName
        </dd>

    </dl>
</div>
    
    <div  style="float:right; width:700px;margin-right:50px">
        <h2>All events Created by @Html.DisplayFor(model => model.organizationName) </h2>
        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">

                <tr>
                 
                    <th> Title</th>
                    <th> Theme </th>
                    <th> Event Type </th>
                    <th> Creation Date </th>
                    <th> Event State </th>
                </tr>
                <tbody>
            @foreach (var events in ViewBag.Event)
            {
                 
                    <tr class="odd gradeX">
                   
                        <td> @events.title </td> 
                        <td>
                            @events.theme
                        </td>
                        <td>
                            @events.eventType
                        </td>
                        <td class="center">
                        @events.createdAt
                        </td>
                        <td>
                            <span class="label label-sm label-warning"> @events.eventState</span>
                        </td>
                    </tr>
            }
                </tbody>
            
       

        </table>
    </div>
<div class="col-md-offset-2">
    
    <div class="table-scrollable table-scrollable-borderless" style="width:800px">
        <h1>All Orgnizers of @Html.DisplayFor(model => model.organizationName)</h1>
        <table class="table table-hover table-light">
            <thead>
                <tr class="uppercase">
                    <th colspan="2"> MEMBER </th>
                    <th> Last Time </th>
                    <th> Email </th>
                    <th> Num Tel </th>
                    <th> Loyalty Point </th>
                </tr>
            </thead>
            @foreach (var user in ViewBag.Users)
            {
                <tr>
                    <td class="fit">
                        <img class="user-pic" src="@user.profileImage" />
                    </td>

                    <td>
                        @user.firstName
                    </td>
                    <td> @user.lastName </td>
                    <td> <span class="" style="color: rgba(51, 66, 183, 0.96);">@user.email</span> </td>
                    <td> @user.numTel </td>
                    <td align="center">
                        <span class="bold theme-font">@user.loyaltyPoint   </span>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div style="margin-top:100px">
    
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn sbold red" })
   
</div>

