@model IEnumerable<Eventify.Data.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG-->


<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">All Users</span>
                </div>
            </div>
            <div class="search-bar ">
                <div class="row">
                    <div class="col-md-7">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn blue uppercase bold" type="button">Search</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p class="search-desc clearfix"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur pellentesque auctor. Morbi lobortis, leo in tristique scelerisque. </p>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-card mt-card-round mt-element-overlay">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="mt-card-item">
                                <div class="mt-card-avatar mt-overlay-1">
                                    <img  src="@Html.DisplayFor(modelItem => item.profileImage)" />
                                    <div class="mt-overlay">
                                        <ul class="mt-info">
                                            <li>
                                               
                                                    @Html.ActionLink("Ban", "Ban", new { id = item.id }, new { @class = "btn default btn-outline" })
                                               
                                            </li>
                                            <li>
                                                
                                                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn default btn-outline" })
                                                    
                                                
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mt-card-content">
                                    <h3 class="mt-card-name">@Html.DisplayFor(modelItem => item.firstName) @Html.DisplayFor(modelItem => item.lastName)</h3>
                                    <p class="mt-card-desc font-grey-mint">@Html.DisplayFor(modelItem => item.username)</p>
                                    <div class="mt-card-social">
                                        <ul>
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="icon-social-facebook"></i>
                                                    
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="icon-social-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="icon-social-dribbble"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>