@section scripts{

    <script src="@Url.Content("~/Content/")assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>



<script>



    //MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP

    //MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP












    //DATESTATTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
    function initDateUsersChart() {
        if (typeof(AmCharts) === 'undefined' || $('#dashboard_amchart_3').size() === 0) {
            return;
        }

        var chart = AmCharts.makeChart("dashboard_amchart_3", {
            "type": "serial",
            "addClassNames": true,
            "theme": "light",
            "path": "../Content/assets/global/plugins/amcharts/ammap/images/",
            "autoMargins": false,
            "marginLeft": 30,
            "marginRight": 8,
            "marginTop": 10,
            "marginBottom": 26,
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },

            "dataProvider": [




         @{ int j = 0; }

                @foreach (var cnt in @ViewBag.Date)
    {

        {

            <text>{ year:"@cnt", income:@ViewBag.NbUsers[j], expenses:@ViewBag.NbUsers[j]},</text>
        }

        j++;
    }












            ],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "startDuration": 1,
            "graphs": [{
                "alphaField": "alpha",
                "balloonText": "<span style='font-size:12px;'>[[title]] in [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                "fillAlphas": 1,
                "title": "Income",
                "type": "column",
                "valueField": "income",
                "dashLengthField": "dashLengthColumn"
            }, {
                "id": "graph2",
                "balloonText": "<span style='font-size:12px;'>[[title]] in [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                "bullet": "round",
                "lineThickness": 3,
                "bulletSize": 7,
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "useLineColorForBulletBorder": true,
                "bulletBorderThickness": 3,
                "fillAlphas": 0,
                "lineAlpha": 1,
                "title": "Expenses",
                "valueField": "expenses"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "tickLength": 0
            },
            "export": {
                "enabled": true
            }
        });
    }
    //DATESTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAT




    //PIEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
    function initPieChart() {
        if (typeof (AmCharts) === 'undefined' || $('#dashboard_amchart_custom').size() === 0) {
            return;
        }

        var chart = AmCharts.makeChart("dashboard_amchart_custom", {
            "type": "pie",
            "theme": "light",
            "path": "../Content/assets/global/plugins/amcharts/ammap/images/",
            "dataProvider": [



         @{ int i = 0; }

                @foreach (var cnt in @ViewBag.Countries)
            {

                    {
                      <text>{ country:"@cnt", value:@ViewBag.NbCountries[i]},</text>
                    }

                    i++;
            }





            ],
            "valueField": "value",
            "titleField": "country",
            "outlineAlpha": 0.4,
            "depth3D": 15,
            "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
            "angle": 30,
            "export": {
                "enabled": true
            }
        });
        jQuery('.chart-input').off().on('input change', function () {
            var property = jQuery(this).data('property');
            var target = chart;
            var value = Number(this.value);
            chart.startDuration = 0;

            if (property == 'innerRadius') {
                value += "%";
            }

            target[property] = value;
            chart.validateNow();
        });
    }
    //END PIEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE







    //Like Main:

    jQuery(document).ready(function () {
        initDateUsersChart();
        initPieChart();
    });







</script>
    }



<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <span data-counter="counterup" data-value="7800">@ViewBag.Allusersnumber</span>
                        <small class="font-green-sharp"></small>
                    </h3>
                    <small>TOTAL USERS</small>
                </div>
                <div class="icon">
                    <i class="icon-user"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 100%;" class="progress-bar progress-bar-success green-sharp">
                        <span class="sr-only">100%</span>
                    </span>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">
                        <span data-counter="counterup" data-value="1349">@ViewBag.AllActivednumber</span>
                    </h3>
                    <small>ACTIVE USERS </small>
                </div>
                <div class="icon">
                    <i class="icon-like"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 100%;" class="progress-bar progress-bar-success red-haze">
                        <span class="sr-only">85% change</span>
                    </span>
                </div>
               
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">
                        <span data-counter="counterup" data-value="567">@ViewBag.AllBannednumber</span>
                    </h3>
                    <small>BANNED USERS</small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 100%;" class="progress-bar progress-bar-success blue-sharp">
                        <span class="sr-only">45% grow</span>
                    </span>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-purple-soft">
                        <span data-counter="counterup" data-value="276">@ViewBag.AllUnbannednumber</span>
                    </h3>
                    <small>UNBANNED USERS</small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 100%;" class="progress-bar progress-bar-success purple-soft">
                        <span class="sr-only"></span>
                    </span>
                </div>
                <div class="status">
                    
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption ">
                    <span class="caption-subject font-dark bold uppercase">Finance</span>
                    <span class="caption-helper">distance stats...</span>
                </div>
                <div class="actions">
                    <a href="#" class="btn btn-circle green btn-outline btn-sm">
                        <i class="fa fa-pencil"></i> Export
                    </a>
                    <a href="#" class="btn btn-circle green btn-outline btn-sm">
                        <i class="fa fa-print"></i> Print
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="dashboard_amchart_3" class="CSSAnimationChart"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption ">
                    <span class="caption-subject font-dark bold uppercase">Eventify's Users By Region</span>
                    <span class="caption-helper"></span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            Insights
                            <i class="icon-pie-chart"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;"> Option 1</a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;">Option 2</a>
                            </li>
                            <li>
                                <a href="javascript:;">Option 3</a>
                            </li>
                            <li>
                                <a href="javascript:;">Option 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div id="dashboard_amchart_custom" class="CSSAnimationChart"></div>
            </div>
        </div>
    </div>



    </div>


<script src="@Url.Content("~/Content/")assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="@Url.Content("~/Content/")assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="@Url.Content("~/Content/")assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="@Url.Content("~/Content/")assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="@Url.Content("~/Content/")assets/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/")assets/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
