@using System.Globalization
@model IEnumerable<Eventify.Data.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

@section scripts{

    <script src="@Url.Content("~/Content/")assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>


    <script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/")assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>




    <script>
        var EcommerceDashboard = function() {
            //First Chart
            function showTooltip(x, y, labelX, labelY) {
                $('<div id="tooltip" class="chart-tooltip">' +
                        (labelY.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')) +
                        'USD<\/div>')
                    .css({
                        position: 'absolute',
                        display: 'none',
                        top: y - 40,
                        left: x - 60,
                        border: '0px solid #ccc',
                        padding: '2px 6px',
                        'background-color': '#fff'
                    })
                    .appendTo("body")
                    .fadeIn(200);
            }

            var initChart1 = function() {

                var data = [
                    //['01/2013', 4],
                    //['02/2013', 8],
                    //['03/2013', 10],
                    //['04/2013', 25],
                    //['05/2013', 2125],
                    //['06/2013', 324],
                    //['07/2013', 1223],
                    //['08/2013', 1365],
                    //['09/2013', 250],
                    //['10/2013', 999],
                    //['11/2013', 390],

                    @foreach (dynamic item in @ViewBag.AmountByDate)
                    {


                        <text>[@item.id, @item.amount],</text>
                    }
                ];

                var plot_statistics = $.plot(
                    $("#statistics_1"),
                    [
                        {
                            data: data,
                            lines: {
                                fill: 0.6,
                                lineWidth: 0
                            },
                            color: ['#f89f9f']
                        }, {
                            data: data,
                            points: {
                                show: true,
                                fill: true,
                                radius: 5,
                                fillColor: "#f89f9f",
                                lineWidth: 3
                            },
                            color: '#fff',
                            shadowSize: 0
                        }
                    ],
                    {
                        xaxis: {
                            tickLength: 0,
                            tickDecimals: 0,
                            mode: "categories",
                            min: 0,
                            font: {
                                lineHeight: 15,
                                style: "normal",
                                variant: "small-caps",
                                color: "#6F7B8A"
                            }
                        },
                        yaxis: {
                            ticks: 3,
                            tickDecimals: 0,
                            tickColor: "#f0f0f0",
                            font: {
                                lineHeight: 15,
                                style: "normal",
                                variant: "small-caps",
                                color: "#6F7B8A"
                            }
                        },
                        grid: {
                            backgroundColor: {
                                colors: ["#fff", "#fff"]
                            },
                            borderWidth: 1,
                            borderColor: "#f0f0f0",
                            margin: 0,
                            minBorderMargin: 0,
                            labelMargin: 20,
                            hoverable: true,
                            clickable: true,
                            mouseActiveRadius: 6
                        },
                        legend: {
                            show: false
                        }
                    }
                );

                var previousPoint = null;

                $("#statistics_1")
                    .bind("plothover",
                        function(event, pos, item) {
                            $("#x").text(pos.x.toFixed(2));
                            $("#y").text(pos.y.toFixed(2));
                            if (item) {
                                if (previousPoint != item.dataIndex) {
                                    previousPoint = item.dataIndex;

                                    $("#tooltip").remove();
                                    var x = item.datapoint[0].toFixed(2),
                                        y = item.datapoint[1].toFixed(2);

                                    showTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1]);
                                }
                            } else {
                                $("#tooltip").remove();
                                previousPoint = null;
                            }
                        });

            }

            var initChart2 = function() {

                var data = [
                    ['01/2013', 10],
                    ['02/2013', 0],
                    ['03/2013', 10],
                    ['04/2013', 12],
                    ['05/2013', 212],
                    ['06/2013', 324],
                    ['07/2013', 122],
                    ['08/2013', 136],
                    ['09/2013', 250],
                    ['10/2013', 99],
                    ['11/2013', 190]
                ];

                var plot_statistics = $.plot(
                    $("#statistics_2"),
                    [
                        {
                            data: data,
                            lines: {
                                fill: 0.6,
                                lineWidth: 0
                            },
                            color: ['#BAD9F5']
                        }, {
                            data: data,
                            points: {
                                show: true,
                                fill: true,
                                radius: 5,
                                fillColor: "#BAD9F5",
                                lineWidth: 3
                            },
                            color: '#fff',
                            shadowSize: 0
                        }
                    ],
                    {
                        xaxis: {
                            tickLength: 0,
                            tickDecimals: 0,
                            mode: "categories",
                            min: 2,
                            font: {
                                lineHeight: 14,
                                style: "normal",
                                variant: "small-caps",
                                color: "#6F7B8A"
                            }
                        },
                        yaxis: {
                            ticks: 3,
                            tickDecimals: 0,
                            tickColor: "#f0f0f0",
                            font: {
                                lineHeight: 14,
                                style: "normal",
                                variant: "small-caps",
                                color: "#6F7B8A"
                            }
                        },
                        grid: {
                            backgroundColor: {
                                colors: ["#fff", "#fff"]
                            },
                            borderWidth: 1,
                            borderColor: "#f0f0f0",
                            margin: 0,
                            minBorderMargin: 0,
                            labelMargin: 20,
                            hoverable: true,
                            clickable: true,
                            mouseActiveRadius: 6
                        },
                        legend: {
                            show: false
                        }
                    }
                );

                var previousPoint = null;

                $("#statistics_2")
                    .bind("plothover",
                        function(event, pos, item) {
                            $("#x").text(pos.x.toFixed(2));
                            $("#y").text(pos.y.toFixed(2));
                            if (item) {
                                if (previousPoint != item.dataIndex) {
                                    previousPoint = item.dataIndex;

                                    $("#tooltip").remove();
                                    var x = item.datapoint[0].toFixed(2),
                                        y = item.datapoint[1].toFixed(2);

                                    showTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1]);
                                }
                            } else {
                                $("#tooltip").remove();
                                previousPoint = null;
                            }
                        });

            }

            return {

                //main function
                init: function() {
                    initChart1();

                    $('#statistics_orders_tab')
                        .on('shown.bs.tab',
                            function(e) {
                                initChart2();
                            });
                }

            };

        }();


        //PIE Chart Reservation By State
        new Morris.Donut({
            element: 'reservationByState',
            data: [

                @foreach (dynamic item in @ViewBag.ReservationByState)
                {


                    <text>{ label: "@item.reservationState.ToString()", value: @item.id },</text>
                }

            ]
        });


        //Pie Chart Reservation By Payment Method
        var ChartsAmcharts = function() {
            reservationByTimerState
           
            var initChartReservationByPayment = function() {
                var chart = AmCharts.makeChart("reservationByPayment",
                {
                    "type": "pie",
                    "theme": "patterns",

                    "fontFamily": 'Open Sans',

                    "color": '#888',

                    "dataProvider": [
                        @foreach (dynamic item in @ViewBag.ReservationByPayment)
                        {
                          <text>{
                            "country": "@item.paymentMethod.ToString()",
                            "value": @item.id
                        },</text>

                        }


                    ],
                    "valueField": "value",
                    "titleField": "country",
                    "outlineAlpha": 0.4,
                    "depth3D": 15,
                    "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                    "angle": 30,
                    "exportConfig": {
                        menuItems: [
                            {
                                icon: '/lib/3/images/export.png',
                                format: 'png'
                            }
                        ]
                    }
                });

                jQuery('.reservationByPayment_chart_input')
                    .off()
                    .on('input change',
                        function() {
                            var property = jQuery(this).data('property');
                            var target = chart;
                            var value = Number(this.value);
                            chart.startDuration = 0;

                            if (property == 'innerRadius') {
                                value += "%";
                            }

                            target[property] = value;
                            chart.validateNow();
                        });

                $('#reservationByPayment')
                    .closest('.portlet')
                    .find('.fullscreen')
                    .click(function() {
                        chart.invalidateSize();
                    });
            };





            var initChartreservationByTimerState = function() {
                var chart = AmCharts.makeChart("reservationByTimerState",
                {
                    "type": "pie",
                    "theme": "light",

                    "fontFamily": 'Open Sans',
                    
                    "color": '#888',

                    "dataProvider": [
                @foreach (dynamic item in @ViewBag.reservationsByTimerState)
                        {
                          <text>{
                            "country": "@item.timerState.ToString()",
                            "value": @item.id
                        },</text>

                        }


                    ],
                    "valueField": "value",
                    "titleField": "country",
                    "outlineAlpha": 0.4,
                    "depth3D": 15,
                    "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                    "angle": 30,
                    "exportConfig": {
                        menuItems: [
                            {
                                icon: '/lib/3/images/export.png',
                                format: 'png'
                            }
                        ]
                    }
                });

                jQuery('.reservationByTimerState_chart_input')
                    .off()
                    .on('input change',
                        function() {
                            var property = jQuery(this).data('property');
                            var target = chart;
                            var value = Number(this.value);
                            chart.startDuration = 0;

                            if (property == 'innerRadius') {
                                value += "%";
                            }

                            target[property] = value;
                            chart.validateNow();
                        });

                $('#reservationByTimerState')
                    .closest('.portlet')
                    .find('.fullscreen')
                    .click(function() {
                        chart.invalidateSize();
                    });
            }






            return {
                //main function to initiate the module

                init: function() {

                    initChartReservationByPayment();
                    initChartreservationByTimerState();
                }

            };

        }();
        jQuery(document)
            .ready(function() {
                EcommerceDashboard.init();
                ChartsAmcharts.init();

            });


    </script>

}

<h2>Transaction Dashboard</h2>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-bottom-10">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-briefcase fa-icon-medium"></i>
            </div>
            <div class="details">
                <div class="number"> 
                    @Math.Round(@ViewBag.Total, 3) </div>
                <div class="desc"> Total Sales </div>
            </div>
            <a class="more" href="javascript:;">
                View more
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number"> @Math.Round(@ViewBag.OurPart, 3) </div>
                <div class="desc"> Our Part </div>
            </div>
            <a class="more" href="javascript:;">
                View more
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-group fa-icon-medium"></i>
            </div>
            <div class="details">
                <div class="number"> @ViewBag.ConfirmedTransaction </div>
                <div class="desc"> Confirmed Transaction </div>
            </div>
            <a class="more" href="javascript:;">
                View more
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>




<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    User
                    
                </th>
                <th>
                    Event
                </th>
                <th>
                    Date
                </th>
                <th>
                    Reservation State
                </th>
                <th>
                    Payment Method
                </th>
                <th>
                    Amount
                </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>

                    <a href="javascript:;">
                        <img class="item-pic rounded" src="@Html.DisplayFor(modelItem => item.user.profileImage)" alt="Alternate Text" width="50px" height="70px" />
                        @Html.DisplayFor(modelItem => item.user.firstName) @Html.DisplayFor(modelItem => item.user.lastName)
                    </a>
</td>
                <td> @Html.DisplayFor(modelItem => item.ticket.myevent.title) </td>
                <td> @Html.DisplayFor(modelItem => item.reservationDate) </td>
                <td>
                    @if (item.reservationState == "CONFIRMED")
                    {
                        <span class="label label-sm label-success"> @Html.DisplayFor(modelItem => item.reservationState) </span>
                    }
                    else
                    {
                        <span class="label label-sm label-danger"> @Html.DisplayFor(modelItem => item.reservationState) </span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paymentMethod) 
                </td>
                <td>@Html.DisplayFor(modelItem => item.amount)</td>
                <td>
                    <a href="javascript:;" class="btn btn-sm btn-default">
                        <i class="fa fa-search"></i> View
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


<div class="portlet light ">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="icon-globe font-red"></i>
            <span class="caption-subject font-red bold uppercase">Revenue</span>
        </div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#portlet_ecommerce_tab_1" data-toggle="tab"> Amounts </a>
            </li>
            <li>
                <a href="#portlet_ecommerce_tab_2" id="statistics_orders_tab" data-toggle="tab"> Orders </a>
            </li>
        </ul>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane active" id="portlet_ecommerce_tab_1">
                <div id="statistics_1" class="chart"> </div>
            </div>
            <div class="tab-pane" id="portlet_ecommerce_tab_2">
                <div id="statistics_2" class="chart"> </div>
            </div>
        </div>
        <div class="well margin-top-20">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                    <span class="label label-success"> Revenue: </span>
                    <h3>$1,234,112.20</h3>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                    <span class="label label-info"> Tax: </span>
                    <h3>$134,90.10</h3>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                    <span class="label label-danger"> Shipment: </span>
                    <h3>$1,134,90.10</h3>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                    <span class="label label-warning"> Orders: </span>
                    <h3>235090</h3>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Reservation State</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="reservationByState" style="height:500px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    
    <div class="col-md-6">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Reservation By Payment Method</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="fullscreen"> </a>
                    <a href="javascript:;" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="reservationByPayment" class="chart" style="height: 400px;"> </div>
                <div class="well margin-top-20">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="text-left">Angle:</label>
                            <input class="reservationByPayment_chart_input" data-property="angle" type="range" min="0" max="89" value="30" step="1" />
                        </div>
                        <div class="col-sm-3">
                            <label class="text-left">Depth:</label>
                            <input class="reservationByPayment_chart_input" data-property="depth3D" type="range" min="1" max="120" value="40" step="1" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze"> Reservation By Timer State</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="fullscreen"> </a>
                    <a href="javascript:;" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div id="reservationByTimerState" class="chart" style="height: 400px;"> </div>
                <div class="well margin-top-20">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="text-left">Angle:</label>
                            <input class="reservationByTimerState_chart_input" data-property="angle" type="range" min="0" max="89" value="30" step="1" />
                        </div>
                        <div class="col-sm-3">
                            <label class="text-left">Depth:</label>
                            <input class="reservationByTimerState_chart_input" data-property="depth3D" type="range" min="1" max="120" value="40" step="1" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<table class="table table-bordered">
    @foreach (dynamic var in @ViewBag.AmountByDate)
    {
        <tr>
            <td>@var.id</td>
            <td>@var.amount</td>
        </tr>
    }
</table>


